[submodule "pulp-runtime"]
	path = pulp-runtime
	url = https://github.com/pulp-platform/pulp-runtime.git
  branch = astral
[submodule "regression-tests"]
	path = regression-tests
	url = https://github.com/pulp-platform/regression_tests.git
[submodule "fault_injection_sim"]
	path = fault_injection_sim
	url = git@iis-git.ee.ethz.ch:michaero/fault_injection_sim.git
