[submodule "pulp-runtime"]
	path = pulp-runtime
	url = https://github.com/pulp-platform/pulp-runtime.git
  branch = astral
[submodule "regression-tests"]
	path = regression-tests
	url = https://github.com/pulp-platform/regression_tests.git
    branch = astral
